main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.rating {
  text-wrap: nowrap;
}

.wrap-text{
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  /* top: 0; */
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

.carousel-caption h2 {
  color: #fff;
}

/* .carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
} */

a:hover{
  text-decoration: none;
}

.img-resize {
  width: 221px;
  height: 176px;
}

.thumbnail-item {
  width: 100%;
  height: 72px;
}

.thumbnail-container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-left: 0;
}
.reset-btn {
  border: none;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .img-resize {
    width: 100%;
    height: 100%;
  }
}